body {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  font-size: sans-serif;
}

.home .post img {
  position: absolute;
  top: 20px;
  left: -100px;
  opacity: 0.6;
}

.home .post {
  overflow: hidden;
  padding-left: 80px;
}